  /*==================================================================
  [ Form ]*/
  
  .contact100-form {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 68px;
  }
  
  /*------------------------------------------------------------------
  [ Input ]*/
  
  .wrap-input100 {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #d9d9d9;
    margin-bottom: 65px;
    text-align: left;
  }

  
  .rs1-wrap-input100 {
    width: calc((100% - 30px) / 2);
  }
  
  .label-input100 {
    font-family: inherit;
    font-size: 15px;
    color: #999999;
    line-height: 1.5;
    padding-left: 5px;
    font-weight: bold;
  }
  
  .input100 {
    display: block;
    width: 100%;
    background: transparent;
    font-family: Poppins-SemiBold;
    font-size: 18px;
    color: #555555;
    line-height: 1.2;
    padding: 12px 20px 0px 20px !important;
    margin: 0 !important;
    border: none !important;
    outline: none !important;

  }
  
  .focus-input100 {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
  }
  
  .focus-input100::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  
    background: #ff4b5a;
  }
  
  .input100:focus + .focus-input100::before {
    width: 100%;
  }
  

  
  /*------------------------------------------------------------------
  [ Button ]*/
  
  .contact100-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 160px;
    height: 50px;
    background-color: #ff4b5a;
    border-radius: 25px;
  
    font-family: Poppins-Medium;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  
    box-shadow: 0 10px 30px 0px rgba(255, 75, 90, 0.5);
    -moz-box-shadow: 0 10px 30px 0px rgba(255, 75, 90, 0.5);
    -webkit-box-shadow: 0 10px 30px 0px rgba(255, 75, 90, 0.5);
    -o-box-shadow: 0 10px 30px 0px rgba(255, 75, 90, 0.5);
    -ms-box-shadow: 0 10px 30px 0px rgba(255, 75, 90, 0.5);
  }
  
  .contact100-form-btn:hover {
    background-color: #333333;
    box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    -moz-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    -webkit-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    -o-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    -ms-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
  }
  

  
  /*------------------------------------------------------------------
  [ Responsive ]*/
  
  
  @media (max-width: 768px) {
    .rs1-wrap-input100 {
      width: 100%;
    }
    .containerContacto {
        width: 100%;
        justify-content: center;
        text-align: center;
        padding: 0 50px;
      }
  }

  @media (min-width: 768px) {
    .containerContacto {
      width: 100%;
      justify-content: center;
      text-align: center;
      padding-right: 20%;
      padding-left: 20%;
    }
  }
  
  
  /*------------------------------------------------------------------
  [ Alert validate ]*/
  
  .validate-input {
    position: relative;
  }
  
  .alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: #fff;
    border: 1px solid #c80000;
    border-radius: 2px;
    padding: 4px 25px 4px 10px;
    top: 58%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 2px;
    pointer-events: none;
  
    font-family: Poppins-Medium;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
  
    visibility: hidden;
    opacity: 0;
  
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
  }
  
  .alert-validate::after {
    content: "\f06a";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 16px;
    top: 58%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 8px;
  }
  
  .alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
  }
  
  @media (max-width: 992px) {
    .alert-validate::before {
      visibility: visible;
      opacity: 1;
    }
  }
  
  
  /*==================================================================
  [ Contact more ]*/
  
  .contact100-more {
    font-family: Poppins-Regular;
    font-size: 14px;
    color: #999999;
    line-height: 1.5;
  }
  
  .contact100-more-highlight {
    color: #ff4b5a;
  }
  
  