<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Nacional CS </title>

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/unicons.css">
  <link rel="stylesheet" href="css/login.css">
  <link rel="stylesheet" href="css/acordion.css">

  <!-- MAIN STYLE -->
  <link rel="stylesheet" href="css/tooplate-style.css">


</head>

<body>

  <% include ../layouts/headerEarlyBooking %>

    <!-- MENU -->
    <nav class="navbar navbar-expand-sm navbar-light">
      <div class="container">
        <a class="navbar-brand" href="index.html"><i class='uil uil-user'></i> Nacional Club Social</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a href="#actividades" class="nav-link"><span data-hover="Actividades">Actividades</span></a>
            </li>
            <li class="nav-item">
              <a href="#reservas" class="nav-link"><span data-hover="Reservas">Reservas</span></a>
            </li>
          </ul>

          <ul class="navbar-nav ml-lg-auto">

            <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;"
              id="botonLogin">Login</button>
            <h3 id="msgNombreLogueado" style="display:none;">Nombre</h1>

          </ul>
        </div>
      </div>
    </nav>


    <!-- LOGIN -->

    <div id="id01" class="modal">

      <div class="modal-content animate">
        <div class="imgcontainer">
          <span onclick="document.getElementById('id01').style.display='none'" class="close"
            title="Close Modal">&times;</span>
          <img src="images/NacClubSocial.png" alt="Avatar" class="avatar">
        </div>

        <div class="container">
          <label for="uname"><b>Username</b></label>
          <input type="text" id="nameInput" placeholder="Enter Username" name="uname" required>

          <label for="psw"><b>Password</b></label>
          <input type="password" id="passwordInput" placeholder="Enter Password" name="psw" required>
          <label id="validCredential" style="color: red; display: none;"><b>Usuario/contraseña incorrectas.</b></label>
          <label id="validCredentialLastname" style="color: red; display: none;"><b>Su usuario no está habilitado para
              usar esta web.</b></label>

          <button onclick="iniciarSesion()">Iniciar sesión</button>
        </div>
      </div>
    </div>


    <!-- ACTIVIDADES -->

    <section class="about d-lg-flex justify-content-center align-items-center" id="actividades"
      style="margin-top: 100px;">
      <div class="container" id="divCategorias">
        <h1 id="msgNoLogueado">Debes estar logueado para ver las actividades</h1>
        <div class="col-lg-8 mx-auto" style="display: none;" id="actTitulo">
          <h2>Actividades</h2>
        </div>
      </div>
    </section>

    <!-- RESERVAS -->
    <section class="project py-5" id="reservas" style="display: none;">
      <div class="container">

        <div class="row">
          <div class="col-lg-11 text-center mx-auto col-12">

            <div class="col-lg-8 mx-auto">
              <h2>Mis reservas</h2>
              <div id="misReservas">

              </div>
            </div>



          </div>
        </div>
      </div>
    </section>

    <!-- FOOTER -->
    <footer class="footer py-5">
      <div class="container">
        <div class="row">

          <div class="col-lg-12 col-12">
            <p class="copyright-text text-center"></p>
          </div>

        </div>
      </div>
    </footer>

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/Headroom.js"></script>
    <script src="js/jQuery.headroom.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/acordion.js"></script>

    <script>
      // Get the modal
      var modal = document.getElementById('id01');

      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function (event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }


      function procesarInicioSesion() {
        var userName = localStorage.getItem('userName');
        if (userName && userName != 'undefined') {
          document.getElementById('msgNombreLogueado').innerHTML = userName;
          document.getElementById('msgNombreLogueado').style.display = "Block";
          document.getElementById('botonLogin').style.display = "None";
          document.getElementById('actTitulo').style.display = "Block";
        }
      }


      function iniciarSesion() {
        let params = JSON.stringify({
          user: document.getElementById('nameInput').value,
          password: document.getElementById('passwordInput').value,
        });

        const http = new XMLHttpRequest()
        http.open('PUT', 'https://api-agenda.nacionalclubsocial.uy/signin')
        // http.setRequestHeader('Authorization', 'Bearer 288abceb-0a1a-4095-9f79-89d57d4c0ba9')
        http.setRequestHeader('Accept', '*/*')
        http.setRequestHeader('Content-type', 'application/json')
        http.setRequestHeader('Content-type', 'text/plain')
        // http.send(JSON.stringify(params)) // Make sure to stringify
        http.send(params) // Make sure to stringify
        http.onload = function () {
          if (http.status === 200) {
            let token = JSON.parse(http.responseText).token;
            let userId = JSON.parse(http.responseText).description.id;
            let userName = JSON.parse(http.responseText).description.firstName;
            let lastName = JSON.parse(http.responseText).description.lastName;
            if (lastName.includes("ndez") || lastName.includes("al")) {
              localStorage.setItem('token', token);
              localStorage.setItem('userId', userId);
              localStorage.setItem('userName', userName);
              document.getElementById('validCredential').style.display = "None";
              modal.style.display = "none";
              procesarInicioSesion();
              buscarCategorias();
              buscarMisReservas()
            } else {
              document.getElementById('validCredentialLastname').style.display = "Block";
              document.getElementById('validCredential').style.display = "None";
            }
          } else {
            document.getElementById('validCredential').style.display = "Block";
            document.getElementById('validCredentialLastname').style.display = "None";

          }
        }

      }


      function buscarCategorias() {
        var token = localStorage.getItem('token');
        if (token) {
          document.getElementById('msgNoLogueado').style.display = "None";

          var userId = localStorage.getItem('userId');

          const http = new XMLHttpRequest()
          http.open('GET', 'https://api-agenda.nacionalclubsocial.uy/activitycategory')
          http.setRequestHeader('Authorization', 'Bearer ' + token)
          http.setRequestHeader('Accept', '*/*')
          http.setRequestHeader('Content-type', 'application/json')
          http.send()
          http.onload = function () {

            let listaCategorias = JSON.parse(http.responseText).description;
            // Do whatever with response
            for (const cat of listaCategorias) {

              var divActividades = document.getElementById('divCategorias').innerHTML +=
                "<button class='accordion' onclick='actividades(\"" + cat.id + "\")'>" + cat.name + "</button>" +
                "<div class='panel' id='panel" + cat.id + "'>" +
                "</div>";
            }
            accordionAcordion();
          }
        }
      }

      function actividades(actId) {
        var token = localStorage.getItem('token');
        var userId = localStorage.getItem('userId');

        var i = 0;
        var length = 6;
        const http = new XMLHttpRequest();
        (function loop(i, length) {
          if (i >= length) {
            return;
          }

          http.open('GET', 'https://api-agenda.nacionalclubsocial.uy/activitytime/?id=' + actId + '&dow=' + i + '&userId=' + userId)
          http.setRequestHeader('Authorization', 'Bearer ' + token)
          http.setRequestHeader('Accept', '*/*')
          http.setRequestHeader('Content-type', 'application/json')
          http.onreadystatechange = function () {
            if (http.readyState === XMLHttpRequest.DONE && http.status === 200) {
              var actividades = JSON.parse(http.responseText).description;
              for (const act of actividades) {
                divPanel = document.getElementById('panel' + actId).innerHTML +=
                  " <div style='display: flex; width: 100%;border-bottom: solid;padding-top: 10px;'> " +
                  " <div  style='width: 70%'> " +
                  "<p>Dia " + act.dayoftheweek + "  -  " + act.name + "  Inicio:" + act.starttime + "  Fin:" + act.endtime + "</p>" +
                  "</div>" +
                  " <div  style='width: 30%; text-align: right'> " +
                  "<button style='width: fit-content;margin:0px;padding:5px' onclick='reservarActividad(" + act.id + "," + act.dayoftheweek + ")'>Reservar</button>" +
                  "</div>" +
                  "</div>";
              }

              loop(i + 1, length);
            }
          }
          http.send();
        })(0, length);

      }


      function reservarActividad(idAct, dow) {
        var token = localStorage.getItem('token');
        var userId = localStorage.getItem('userId');
        var dowToday = new Date().getDay();
        var dowReservar = 0;
        if (dow - dowToday >= 0) {
          dowReservar = dow - dowToday;
        } else {
          dowReservar = 7 + (dow - dowToday);
        }
        let params = "{\"usr\":\"" + userId + "\",\"at\":\"" + idAct + "\",\"day\":\"" + dowReservar + "\",\"description\":\"\"}";
        const http = new XMLHttpRequest()
        http.open('POST', 'https://api-agenda.nacionalclubsocial.uy/reservation/')
        http.setRequestHeader('Authorization', 'Bearer ' + token)
        http.setRequestHeader('Accept', '*/*')
        http.setRequestHeader('Content-type', 'application/json')
        http.setRequestHeader('Content-type', 'text/plain')
        http.send(params) // Make sure to stringify
        http.onload = function () {
          console.log("RESERVO");
          alert("Se ha procesado la reserva correctamente");
          buscarMisReservas();
        }
      }


      function buscarMisReservas() {
        var token = localStorage.getItem('token');
        if (token) {
          document.getElementById('reservas').style.display = "Block";

          const http = new XMLHttpRequest()
          http.open('GET', 'https://api-agenda.nacionalclubsocial.uy/reservation/')
          http.setRequestHeader('Authorization', 'Bearer ' + token)
          http.setRequestHeader('Accept', '*/*')
          http.setRequestHeader('Content-type', 'application/json')
          http.send()
          http.onload = function () {

            let listaReservas = JSON.parse(http.responseText).description;
            // Do whatever with response
            document.getElementById('misReservas').innerHTML = "";
            for (const res of listaReservas) {

              document.getElementById('misReservas').innerHTML +=
                "<p>Dia " + res.dayoftheweek + "  -  " + res.name + "  Inicio:" + res.starttime + "  Fin:" + res.endtime + "</p>"
            }
          }
        }
      }






      procesarInicioSesion();
      buscarCategorias();
      buscarMisReservas()
    </script>



</body>

</html>