<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Nacional CS </title>

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/unicons.css">
  <link rel="stylesheet" href="css/login.css">
  <link rel="stylesheet" href="css/acordion.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">



  <!-- MAIN STYLE -->
  <link rel="stylesheet" href="css/tooplate-style.css">


</head>

<!-- position: absolute; top: 30%;left: 0;right: 0;margin: 0 auto; -->

<body style="background-color: #15155e;">

  <% include ../layouts/headerEarlyBooking %>

    <div style="background-image: url('../images/NacionalCS.png');
    border-top-style: solid;
    border-bottom-style: solid;
    border-block-color: rgb(212, 71, 71);">
      <div id="loginContainer" style="padding: 10%;">
        <div class="container">
          <label for="uname"><b style="background-color: white;border-radius: 10px;padding: 5px;">Username</b></label>
          <input type="text" id="nameLoginField" placeholder="Enter Username" name="uname" required>

          <label for="psw"><b style="background-color: white;border-radius: 10px;padding: 5px;">Password</b></label>
          <input type="password" id="passLoginField" placeholder="Enter Password" name="psw" required>
          <label id="validCredential" style="color: red; display: none;"><b>Usuario/contraseña
              incorrectas.</b></label>
          <label id="validCredentialLastname" style="color: red; display: none;"><b>Su usuario no está habilitado para
              usar esta web.</b></label>

          <button onclick="iniciarSesion()">Iniciar sesión</button>
        </div>
      </div>
    </div>

    <!-- ACTIVIDADES -->

    <section class="about d-lg-flex justify-content-center align-items-center" id="actividades"
      style="margin-top: 100px;">
      <div class="container">

        <div class="row">
          <div class="mx-auto col-12">

            <div class="col-lg-8 mx-auto" style="max-width: 100% !important;">
              <h2 id="actividadesLabel" style="color: white;text-align: center;">Actividades</h2>


              <div class="container" id="divCategorias">
                <div class="col-lg-8 mx-auto" style="display: none;" id="actTitulo">
                </div>
              </div>
            </div>



          </div>
        </div>
      </div>
    </section>

    <!-- RESERVAS -->
    <section class="project py-5" id="reservas" style="display: none;">
      <div class="container">

        <div class="row">
          <div class="col-lg-11 text-center mx-auto col-12">

            <div class="col-lg-8 mx-auto" style="max-width: 100% !important;">
              <h2 style="color: white;">Mis reservas</h2>
              <div id="misReservas">

              </div>
            </div>



          </div>
        </div>
      </div>
    </section>



    <!-- FOOTER -->
    <footer class="footer py-5">
      <div class="container">
        <div class="row">

          <div class="col-lg-12 col-12">
            <p class="copyright-text text-center"></p>
          </div>

        </div>
      </div>
    </footer>

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/Headroom.js"></script>
    <script src="js/jQuery.headroom.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/acordion.js"></script>

    <script>
      // Get the modal
      var modal = document.getElementById('id01');

      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function (event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }


      function procesarInicioSesion() {
        var userName = localStorage.getItem('userName');
        if (userName) {
          document.getElementById('msgNombreLogueadoEarlyHeader').innerHTML = userName;
          document.getElementById('msgNombreLogueadoEarlyHeader').style.display = "Block";
          document.getElementById('loginContainer').style.display = "None";
          document.getElementById('closeSesionButton').style.display = "Block";
          document.getElementById('reservas').style.display = "Block";
          document.getElementById('actividades').setAttribute('style', "margin-top: 100px;display: Block !important");

          buscarCategorias();
          buscarMisReservas()
        } else {
          document.getElementById('closeSesionButton').style.display = "None";
          document.getElementById('msgNombreLogueadoEarlyHeader').style.display = "None";
          document.getElementById('loginContainer').style.display = "Block";
          document.getElementById('reservas').style.display = "None";
          document.getElementById('actividades').setAttribute('style', "margin-top: 100px;display: None !important");
          // document.getElementById('actividadesLabel').style.display = "None";
        }
      }


      function iniciarSesion() {
        let params = JSON.stringify({
          user: document.getElementById('nameLoginField').value,
          password: document.getElementById('passLoginField').value,
        });

        const http = new XMLHttpRequest()
        http.open('PUT', 'https://api-agenda.nacionalclubsocial.uy/signin')
        // http.setRequestHeader('Authorization', 'Bearer 288abceb-0a1a-4095-9f79-89d57d4c0ba9')
        http.setRequestHeader('Accept', '*/*')
        http.setRequestHeader('Content-type', 'application/json')
        http.setRequestHeader('Content-type', 'text/plain')
        // http.send(JSON.stringify(params)) // Make sure to stringify
        http.send(params) // Make sure to stringify
        http.onload = function () {
          if (http.status === 200) {
            let token = JSON.parse(http.responseText).token;
            let userId = JSON.parse(http.responseText).description.id;
            let userName = JSON.parse(http.responseText).description.firstName + ' ' + JSON.parse(http.responseText).description.lastName;
            localStorage.setItem('token', token);
            localStorage.setItem('userId', userId);
            localStorage.setItem('userName', userName);
            document.getElementById('validCredential').style.display = "None";
            procesarInicioSesion();
            buscarCategorias();
            buscarMisReservas()
          } else {
            document.getElementById('validCredential').style.display = "Block";
            document.getElementById('validCredentialLastname').style.display = "None";
          }
          procesarInicioSesion()
        }
      }

      function cerrarSesion() {
        document.getElementById('nameLoginField').value = '';
        document.getElementById('passLoginField').value = '';

        localStorage.removeItem('token');
        localStorage.removeItem('userId');
        localStorage.removeItem('userName');

        procesarInicioSesion();
      }


      function buscarCategorias() {
        let token = localStorage.getItem('token');
        if (token) {
          let userId = localStorage.getItem('userId');

          const http = new XMLHttpRequest()
          http.open('GET', 'https://api-agenda.nacionalclubsocial.uy/activitycategory')
          http.setRequestHeader('Authorization', 'Bearer ' + token)
          http.setRequestHeader('Accept', '*/*')
          http.setRequestHeader('Content-type', 'application/json')
          http.send()
          http.onload = function () {
            let listaCategorias = JSON.parse(http.responseText).description;
            // Do whatever with response
            for (const cat of listaCategorias) {
              let divActividades = document.getElementById('divCategorias').innerHTML +=
                "<button class='accordion' onclick='actividades(\"" + cat.id + "\")'>" + cat.name + "</button>" +
                "<div class='panel' id='panel" + cat.id + "'>" +
                "</div>";
            }
            accordionAcordion();
          }
        }
      }

      function actividades(actId) {
        var token = localStorage.getItem('token');
        var userId = localStorage.getItem('userId');

        var i = 0;
        var length = 6;
        const http = new XMLHttpRequest();
        (function loop(i, length) {
          if (i >= length) {
            return;
          }

          http.open('GET', 'https://api-agenda.nacionalclubsocial.uy/activitytime/?id=' + actId + '&dow=' + i + '&userId=' + userId)
          http.setRequestHeader('Authorization', 'Bearer ' + token)
          http.setRequestHeader('Accept', '*/*')
          http.setRequestHeader('Content-type', 'application/json')
          http.onreadystatechange = function () {
            if (http.readyState === XMLHttpRequest.DONE && http.status === 200) {
              var actividades = JSON.parse(http.responseText).description;
              for (const act of actividades) {
                divPanel = document.getElementById('panel' + actId).innerHTML +=
                  " <div style='display: flex; width: 100%;border-bottom: solid;padding-top: 10px;'> " +
                  " <div  style='width: 70%'> " +
                  "<p>" + diaDeLaActividad(act.dayoftheweek) + "  -  " + act.name + " | " + act.starttime + "-" + act.endtime + "</p>" +
                  "</div>" +
                  " <div  style='width: 30%; text-align: right'> " +
                  "<button style='width: fit-content;margin:0px;padding:5px' onclick='reservarActividad(" + act.id + "," + act.dayoftheweek + ")'>Reservar</button>" +
                  "</div>" +
                  "</div>";
              }

              loop(i + 1, length);
            }
          }
          http.send();
        })(0, length);

      }

      function diasFaltantes(dow) {
        var dowReservar = 0;
        var dowToday = new Date().getDay();

        if (dow - dowToday >= 0) {
          dowReservar = dow - dowToday;
        } else {
          dowReservar = 7 + (dow - dowToday);
        }

        return dowReservar;
      }

      function diaDeLaActividad(dow) {
        let diaDeActividad = '';
        switch (dow) {
          case 1: diaDeActividad = 'Lunes '; break;
          case 2: diaDeActividad = 'Martes '; break;
          case 3: diaDeActividad = 'Miercoles '; break;
          case 4: diaDeActividad = 'Jueves '; break;
          case 5: diaDeActividad = 'Viernes '; break;
          case 7: diaDeActividad = 'Sabado '; break;
          default: diaDeActividad = 'Domingo '; break;
        }
        var actDay = new Date();
        actDay.setDate(actDay.getDate() + dow)
        return diaDeActividad + actDay.getDate();
      }

      function reservarActividad(idAct, dow) {
        var token = localStorage.getItem('token');
        var userId = localStorage.getItem('userId');
        var dowReservar = diasFaltantes(dow);

        let params = "{\"usr\":\"" + userId + "\",\"at\":\"" + idAct + "\",\"day\":\"" + dowReservar + "\",\"description\":\"\"}";
        const http = new XMLHttpRequest()
        http.open('POST', 'https://api-agenda.nacionalclubsocial.uy/reservation/')
        http.setRequestHeader('Authorization', 'Bearer ' + token)
        http.setRequestHeader('Accept', '*/*')
        http.setRequestHeader('Content-type', 'application/json')
        http.setRequestHeader('Content-type', 'text/plain')
        http.send(params) // Make sure to stringify
        http.onload = function () {
          if (http.status === 200) {
            alert("Se ha procesado la reserva correctamente");
            buscarMisReservas();
          } else {
            alert("No se ha podido procesar la reserva correctamente");
          }
        }
      }


      function buscarMisReservas() {
        var token = localStorage.getItem('token');
        if (token) {
          document.getElementById('reservas').style.display = "Block";

          const http = new XMLHttpRequest()
          http.open('GET', 'https://api-agenda.nacionalclubsocial.uy/reservation/')
          http.setRequestHeader('Authorization', 'Bearer ' + token)
          http.setRequestHeader('Accept', '*/*')
          http.setRequestHeader('Content-type', 'application/json')
          http.send()
          http.onload = function () {

            let listaReservas = JSON.parse(http.responseText).description;
            // Do whatever with response
            document.getElementById('misReservas').innerHTML = "";
            for (const res of listaReservas) {

              document.getElementById('misReservas').innerHTML +=
                "<p style='background-color: #7e1616; border-radius: 14px; color: white'>" + diaDeLaActividad(res.dayoftheweek)
                + "  -  " + res.name + " | " + res.starttime + "-" + res.endtime + "hs</p>"
            }
          }
        }
      }


      function accordionAcordion() {
        var acc = document.getElementsByClassName("accordion");
        var i;
        for (i = 0; i < acc.length; i++) {
          acc[i].addEventListener("click", function () {
            /* Toggle between adding and removing the "active" class,
            to highlight the button that controls the panel */
            this.classList.toggle("active");

            /* Toggle between hiding and showing the active panel */
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
              panel.style.display = "none";
            } else {
              panel.style.display = "block";
            }
          });
        }
      }

      procesarInicioSesion();
    </script>



</body>

</html>