<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Notificacion de consultas </title>

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/main.css">
  <!-- <link rel="stylesheet" href="css/unicons.css"> -->
  <!-- <link rel="stylesheet" href="css/login.css"> -->
  <!-- <link rel="stylesheet" href="css/acordion.css"> -->

  <!-- MAIN STYLE -->
  <!-- <link rel="stylesheet" href="css/tooplate-style.css"> -->

  <!-- <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/Headroom.js"></script>
  <script src="js/jQuery.headroom.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/acordion.js"></script> -->

</head>

<body>
  <% include ../layouts/header %>



    <!-- PARA IMPORTAR MAS DE UN HIJO -->
    <!-- <iframe src="included.html" onload="this.insertAdjacentHTML('afterend', (this.contentDocument.body||this.contentDocument).innerHTML);this.remove()"></iframe> -->

    <!-- FOOTER -->
    <% include ../layouts/footer %>

      <script src="js/jquery-3.3.1.min.js"></script>



</body>

</html>