<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Notificacion de consultas </title>

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/main.css">
  <!-- <link rel="stylesheet" href="css/unicons.css"> -->
  <!-- <link rel="stylesheet" href="css/login.css"> -->
  <!-- <link rel="stylesheet" href="css/acordion.css"> -->

  <!-- MAIN STYLE -->
  <!-- <link rel="stylesheet" href="css/tooplate-style.css"> -->

  <!-- <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/Headroom.js"></script>
  <script src="js/jQuery.headroom.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/acordion.js"></script> -->

</head>

<body>
  <% include ../layouts/header %>

    <div class="bloqueQuienesSomos">
      <p class="tituloQuienesSomos">Naquadriah</p>

      <p class="textoQuienesSomos">
        Somos una empresa joven creada en Montevideo, Urugauy en el año 2022.
        <br>
        Tenemos como finalidad principal la de contruibuir al desarrollo de pruebas de concepto, proyectos personales de
        pequeño y mediano tamaño así como tambien al soporte, mantenimiento y de proyectos existentes.
        <br>
        Nuestra mision es la proporcionar un desarrollo de alta calidad en cada producto manteniendo un excelente trato
        con cada cliente.
      </p>
    </div>

    <div class="bloqueEquipo">
      <p class="tituloEquipo">Equipo</p>

      <div class="listaEquipo">
        <div class="integrante">
          <img src="/images/EF.jpg" class="imgIntegrante">
          <h4>Ernesto Fernandez</h4>
          <h7>Fullstack developer</h7>
        </div>
        <div class="integrante">
          <img src="/images/DP.jpg" class="imgIntegrante">
          <h4>Daryan Paez</h4>
          <h7>Frontend developer</h7>
        </div>
      </div>
    </div>


    <div class="bloqueProyectos">
      <p class="tituloProyectos">Proyectos</p>

      <div class="listaProyectos">
        <div class="integrante">
          <img src="/images/NotificationQuery2.jpg" class="imgIntegrante">
          <h4>Notification query</h4>
        </div>
        <div class="integrante">
          <img src="/images/ProyectoCircuito3.jpg" class="imgIntegrante">
          <h4>Minimun lenght circuit trip</h4>
        </div>
        <div class="integrante">
          <img src="/images/agendaWeb2.jpg" class="imgIntegrante">
          <h4>Early bookings (Nacional Social Club)</h4>
        </div>
      </div>
    </div>

    <!-- FOOTER -->
    <% include ../layouts/footer %>

      <script src="js/jquery-3.3.1.min.js"></script>



</body>

</html>