<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Naquadriah Software</title>

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/homepage.css">
  <!-- <link rel="stylesheet" href="css/unicons.css"> -->
  <!-- <link rel="stylesheet" href="css/login.css"> -->
  <!-- <link rel="stylesheet" href="css/acordion.css"> -->

  <!-- MAIN STYLE -->
  <!-- <link rel="stylesheet" href="css/tooplate-style.css"> -->

  <!-- <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/Headroom.js"></script>
  <script src="js/jQuery.headroom.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/acordion.js"></script> -->

</head>

<body>
  <% include ../layouts/headerHomepage %>

    <div class="bloqueQuienesSomos bloqueHome">
      <p id="quieneSomos" class="tituloHome">Naquadriah</p>

      <p class="textoQuienesSomos">
        Somos una empresa joven creada en Montevideo, Urugauy en el año 2022.
        <br>
        Tenemos como finalidad principal la de contruibuir al desarrollo de pruebas de concepto, proyectos personales de
        pequeño y mediano tamaño así como tambien al soporte, mantenimiento y de proyectos existentes.
        <br>
        Nuestra mision es la proporcionar un desarrollo de alta calidad en cada producto manteniendo un excelente trato
        con cada cliente.
      </p>
    </div>

    <div class="bloqueHome">
      <p id="proyectos" class="tituloHome">Proyectos</p>

      <div class="listaProyectos">

        <div class="proyecto">
          <a href="/notificationApp" class="linkProyecto">
            <img src="/images/NotificationQuery2.jpg" class="imgProyecto">

            <h4>Notification query</h4>
          </a>
        </div>

        <div class="proyecto" class="linkProyecto">
          <img src="/images/ProyectoCircuito3.jpg" class="imgProyecto">
          <h4>Minimun lenght circuit trip</h4>
        </div>
        <div class="proyecto" class="linkProyecto">
          <a href="/earlyBookingApp" class="linkProyecto">
            <img src="/images/agendaWeb2.jpg" class="imgProyecto">
            <h4>Early bookings (Nacional Social Club)</h4>
          </a>
        </div>
      </div>
    </div>

    <div class="bloqueHome">
      <p id="equipo" class="tituloHome">Equipo</p>

      <div class="listaEquipo">
        <div class="integrante">
          <img src="/images/EF.jpg" class="imgIntegrante">
          <div style="font-size: x-large;  display: flex; justify-content: center;">
            <p style="font-size: x-large; margin-top: 8px;margin-bottom: 0;">Ernesto Fernandez</p>
            <a style=" margin-left: 8px;" href="https://www.linkedin.com/in/ernesto-fernandez-463aa244/">
              <svg xmlns="http://www.w3.org/2000/svg"
                style="color: #0a66c2; background-color: white; border-radius: 5px;" width="34" height="34"
                viewBox="0 0 34 34" class="global-nav__logo">
                <title>LinkedIn</title>
                <g>
                  <path
                    d="M34,2.5v29A2.5,2.5,0,0,1,31.5,34H2.5A2.5,2.5,0,0,1,0,31.5V2.5A2.5,2.5,0,0,1,2.5,0h29A2.5,2.5,0,0,1,34,2.5ZM10,13H5V29h5Zm.45-5.5A2.88,2.88,0,0,0,7.59,4.6H7.5a2.9,2.9,0,0,0,0,5.8h0a2.88,2.88,0,0,0,2.95-2.81ZM29,19.28c0-4.81-3.06-6.68-6.1-6.68a5.7,5.7,0,0,0-5.06,2.58H17.7V13H13V29h5V20.49a3.32,3.32,0,0,1,3-3.58h.19c1.59,0,2.77,1,2.77,3.52V29h5Z"
                    fill="currentColor"></path>
                </g>
              </svg>
            </a>
          </div>
          <h7>Fullstack developer</h7>
        </div>
        <div class="integrante">
          <img src="/images/DP.jpg" class="imgIntegrante">
          <div style="font-size: x-large;  display: flex; justify-content: center;">
            <p style="font-size: x-large; margin-top: 8px;margin-bottom: 0;">Daryan Paez</p>
            <a style=" margin-left: 8px;" href="https://www.linkedin.com/in/daryan-paez-74b0a178/">
              <svg xmlns="http://www.w3.org/2000/svg"
                style="color: #0a66c2; background-color: white; border-radius: 5px;" width="34" height="34"
                viewBox="0 0 34 34" class="global-nav__logo">
                <title>LinkedIn</title>
                <g>
                  <path
                    d="M34,2.5v29A2.5,2.5,0,0,1,31.5,34H2.5A2.5,2.5,0,0,1,0,31.5V2.5A2.5,2.5,0,0,1,2.5,0h29A2.5,2.5,0,0,1,34,2.5ZM10,13H5V29h5Zm.45-5.5A2.88,2.88,0,0,0,7.59,4.6H7.5a2.9,2.9,0,0,0,0,5.8h0a2.88,2.88,0,0,0,2.95-2.81ZM29,19.28c0-4.81-3.06-6.68-6.1-6.68a5.7,5.7,0,0,0-5.06,2.58H17.7V13H13V29h5V20.49a3.32,3.32,0,0,1,3-3.58h.19c1.59,0,2.77,1,2.77,3.52V29h5Z"
                    fill="currentColor"></path>
                </g>
              </svg>
            </a>
          </div>
          <h7>Frontend developer</h7>


        </div>
      </div>
    </div>

    <div class="bloqueHome">
      <p id="contacto" class="tituloHome">Contacto</p>
      <div class="containerContacto">

        <form class="contact100-form validate-form">
          <div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Nombre requerido">
            <span class="label-input100">Nombre</span>
            <input id="nameField" class="input100" type="text" name="name" placeholder="Ingresa tu nombre">
            <span class="focus-input100"></span>
          </div>

          <div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Apellido es requerido">
            <span class="label-input100">Apellido</span>
            <input id="lastNameField" class="input100" type="text" name="name" placeholder="Ingresa tu apellido">
            <span class="focus-input100"></span>
          </div>

          <div class="wrap-input100 validate-input" data-validate="Email es requerido">
            <span class="label-input100">Nombre proyecto</span>
            <input id="proyNameField" class="input100" type="text" name="name" placeholder="Ingresa tu email">
            <span class="focus-input100"></span>
          </div>

          <div class="wrap-input100 validate-input" data-validate="Email válido es requerido: yo@miempresa.com">
            <span class="label-input100">Email</span>
            <input id="emailField" class="input100" type="text" name="email" placeholder="Ingresa tu email">
            <span class="focus-input100"></span>
          </div>

          <div class="wrap-input100 validate-input" data-validate="Mensaje es requerido">
            <span class="label-input100">Mensaje</span>
            <textarea id="msgField" class="input100" name="message" placeholder="Tu mensaje aquí..."></textarea>
            <span class="focus-input100"></span>
          </div>

          <div class="container-contact100-form-btn">
            <button class="contact100-form-btn">
              <span>
                Enviar
                <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
              </span>
            </button>
          </div>
        </form>

        <span class="contact100-more">
          Por alguna consulta contactarse a: <span class="contact100-more-highlight">(598)-99659219</span>
        </span>
      </div>

    </div>


    <div id="id02" class="email-modal" style="display:none;">
      <div class="email-modal-content animate">
        <label">
          <span style="color: chartreuse;">&#10004;</span>
          <b>Se ha enviado el contacto correctamente.</b>
          </label>
      </div>
    </div>

    <!-- FOOTER -->
    <% include ../layouts/footer %>

      <script src="js/jquery-3.3.1.min.js"></script>
      <script src="js/layout/contact.js"></script>

</body>

</html>