<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Notificacion de consultas </title>

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/unicons.css">
  <link rel="stylesheet" href="css/login.css">
  <link rel="stylesheet" href="css/acordion.css">

  <!-- MAIN STYLE -->
  <link rel="stylesheet" href="css/tooplate-style.css">


</head>

<body>
  <% include ../layouts/header %>

    <!-- Ultimas ejecuciones -->
    <% include ../layouts/lastExcecutions %>


      <!-- FOOTER -->
      <% include ../layouts/footer %>

        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="js/lastExcecutions.js"></script>



</body>

</html>