<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Notificacion de consultas </title>

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/homepage.css">


</head>

<body>
  <% include ../layouts/headerNotificationApp %>

    <div class="bloqueQuienesSomos bloqueHome">
      <p id="agregarConsultas" class="tituloHome">NotificationApp</p>

      <div class="bloqueConsultas">
        <div id="newQuery">
          <div class="wrap-input100 validate-input" data-validate="Nombre de consulta válida requerida">
            <span class="label-input100">Nombre de la consulta</span>
            <input id="queryNameField" class="input100" type="text" name="email" placeholder="ej: Ford Fiesta 2009">
            <span class="focus-input100"></span>
          </div>
          <div class="wrap-input100 validate-input" data-validate="Consulta válida requerida">
            <span class="label-input100">Consulta</span>
            <input id="queryField" class="input100" type="text" name="query" placeholder="ej: venta ford fiesta 2009">
            <span class="focus-input100"></span>
          </div>
          <div class=" ">
            <span class="label-input100">Tipo busqueda</span>
            <br>
            <input type="radio" id="carRadio" name="typeRadio" value="Coches"> <label for="Coches"
              style="font-family: Poppins-SemiBold">Coches</label>
            </input>
            <input type="radio" id="houseRadio" name="typeRadio" value="Inmbuebles"> <label for="Inmbuebles"
              style="font-family: Poppins-SemiBold">Inmbuebles</label>
            </input>
            <input type="radio" id="otherRadio" name="typeRadio" value="Otros" checked> <label for="Otros"
              style="font-family: Poppins-SemiBold">Otros</label>
            </input>
          </div>
          <div style="text-align:right ">
            <button class="contact100-form-btn" style="display: revert;">
              <span>
                Agregar consulta
                <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
              </span>
            </button>
          </div>
        </div>
      </div>

      <div class="bloqueMisConsultas bloqueHome">
        <p id="misConsultas" class="tituloHome">Mis consultas</p>
      </div>
      <div id="divConsultas">

      </div>
    </div>




    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/layout/contact.js"></script>
    <script src="js/notificationApp.js"></script>

    <!-- FOOTER -->
    <% include ../layouts/footer %>

      <script src="js/jquery-3.3.1.min.js"></script>

</body>

</html>