<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Notificacion de consultas </title>

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/main.css">

</head>

<body>
  <% include ../layouts/headerHomepage %>


    <h1>
      <p style="color: white;">
        NotificationApp
      </p>
    </h1>

    <div class="bloqueConsultas">
      <div id="newQuery">

        Nombre de la consulta:<input type="text" placeholder="Mi consulta" /> <br /><br />
        Apellidos:<input type="text" placeholder="Venta apartamento la blanqueada" /> <br /><br />
        Tipo: <input type="radio" /> <br /><br />
        <button>Agregar consulta</button>
      </div>
    </div>

    <!-- ACTIVIDADES -->

    <section class="about d-lg-flex justify-content-center align-items-center" id="actividades"
      style="margin-top: 100px;">
      <div class="container" id="divCategorias">
        <h1 id="msgNoLogueado">Debes estar logueado para ver las actividades</h1>
        <div class="col-lg-8 mx-auto" style="display: none;" id="actTitulo">
          <h2>Actividades</h2>
        </div>
      </div>
    </section>


    <div id="newQuery">

      Nombre de la consulta:<input type="text" placeholder="Mi consulta" /> <br /><br />
      Apellidos:<input type="text" placeholder="Venta apartamento la blanqueada" /> <br /><br />
      Tipo: <input type="radio" /> <br /><br />
      <button>Agregar consulta</button>
    </div>

    <div id="divConsultas">

    </div>

    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="../js/queries.js"></script>

    <!-- FOOTER -->
    <% include ../layouts/footer %>

      <script src="js/jquery-3.3.1.min.js"></script>

</body>

</html>