<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Notificacion de consultas </title>

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/main.css">

</head>

<body>
  <% include ../layouts/header %>


    <h1>
      <p>
        NotificationApp
      </p>
    </h1>





    <div id="newQuery">

      Nombre de la consulta:<input type="text" placeholder="Mi consulta" /> <br /><br />
      Apellidos:<input type="text" placeholder="Venta apartamento la blanqueada" /> <br /><br />
      Tipo: <input type="radio" /> <br /><br />
      <button>Agregar consulta</button>
    </div>

    <div id="divConsultas">

    </div>

    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="../js/consultas.js"></script>

    <!-- FOOTER -->
    <% include ../layouts/footer %>

      <script src="js/jquery-3.3.1.min.js"></script>



</body>

</html>