<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Naquadriah</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
<link rel="stylesheet" href="/css/header.css">
<link rel="stylesheet" href="/css/login.css">
<div id="header" style="background-color: #991b1b">

    <div class="header-dark">
        <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
            <div class="header_logo" style="display:flex;align-items: center;">
                <a href="/">
                    <img id="headerLogoImg" src="/images/logoSinFondo2-min.png" />
                </a>
                <a href="/" class="navbar-brand">
                    <p style="padding-left: 15px; color: aliceblue;" id="companyName"> Naquadriah Software</p>
                </a>
            </div>
            <div class="container">

                <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span
                        class="sr-only">Toggle
                        navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav">
                        <li><a class="nav-link" href="#actividades">Actividades </a>
                        </li>
                        <li><a class="nav-link" href="#reservas">Reservas </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-lg-auto">
                        <h3 id="msgNombreLogueadoEarlyHeader" style="display:none; color:white">Nombre</h3>
                        <button id="closeSesionButton" onclick="cerrarSesion()" style="background: url(/images/cerrar-sesion.png) no-repeat;
                        float: left;
                        width: 10px;
                        height: 20px;
                        background-size: cover;"></button>

                    </ul>
                </div>
            </div>
        </nav>

    </div>
</div>