<div id="id01" class="modal" style="display:none;">

    <div class="modal-content animate">
        <div class="imgcontainer">
            <span onclick="document.getElementById('id01').style.display='none'" class="close"
                title="Close Modal">&times;</span>
            <img src="../images/mercadolibre.png" alt="Avatar" class="avatar">
        </div>

        <div class="container">
            <label for="uname"><b>Username</b></label>
            <input type="text" id="nameLoginField" placeholder="Enter Username" name="uname" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" id="passLoginField" placeholder="Enter Password" name="psw" required>
            <label id="validCredential" style="color: red; display: none;"><b>Usuario/contraseña
                    incorrectas.</b></label>
            <label id="validCredentialLastname" style="color: red; display: none;"><b>Su usuario no está habilitado para
                    usar esta web.</b></label>

            <button onclick="iniciarSesion()">Iniciar sesión</button>
        </div>
    </div>
</div>

<!-- <script src="/js/inicioSesion.js"></script> -->